{% extends 'base.html.twig' %}

{% block title %}Hello ChatbotController!{% endblock %}

{% block body %}
 <h1>Hello Symfony Bot</h1>

<article>
 {{ form(form) }}

 {{ answer ?? '' }}
</article>

{% endblock %}
